h1{
    color: midnightblue;
    font-size: 50px;
}
p{
    font-size: 25px;
}
strong{
    font-size: 25px;
}
body{
    background-color:burlywood;
}
h2{
    color: cornflowerblue;
}
.emoji {
  position: absolute;
  font-size: 2rem; /* حجم الإيموجي */
  opacity: 0.8;
  animation: float 8s linear infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(50px, -80px) rotate(90deg);
  }
  50% {
    transform: translate(100px, 0px) rotate(180deg);
  }
  75% {
    transform: translate(50px, 80px) rotate(270deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
